{% extends 'base.html.twig' %}

{% block title %}Ligne{% endblock %}

{% block body %}
<div class="row" style="display: flex;align-items: center;justify-content: center;margin: 100px 300px 100px">
    <div class="col-lg-15">
    <div class="card">
    <div class="card-body">
  
    <h1>Ligne</h1>

    <table class="table">
        <tbody>
            <tr class="table-primary">
                <th>ID</th>
                <td>{{ ligne.id }}</td>
            </tr>
            <tr>
                <th>Nom Ligne</th>
                <td>{{ ligne.nomLigne }}</td>
            </tr>
            <tr>
                <th>Type Ligne</th>
                <td>{{ ligne.typeLigne }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-dark" href="{{ path('app_ligne_index') }}">back to list</a>

    <a class="btn btn-outline-info" href="{{ path('app_ligne_edit', {'id': ligne.id}) }}">edit</a>

    {{ include('ligne/_delete_form.html.twig') }}
    </div>
</div>
</div>
</div>
{% endblock %}
